body {
  background-color: lightblue;
}

p {
  border-color: rgb(25, 150, 180);
  color: red;
  text-align: center;
  background-image: url("paper.gif");
}
h1 {
  color: red;
  text-align: center;
  background-image: url("paper.gif");
}
